html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Varela Round', sans-serif;
}
img {
    max-width: 100%;
}

h1 {
    font-size: 4rem;
    font-weight: bold;
}

.contenedor {
    max-width: 120rem;

    margin: 0 auto;
    
}

.entrada h1{
    justify-content: center;
    text-align: center;

}

.entrada a{
    text-decoration: none;
    color: white;
    padding: 1rem 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

button{
    background: linear-gradient(45deg, rgba(62,14,131,1) 0%, rgba(9,9,121,1) 8%, rgba(0,212,255,1) 100%);
    border-radius: 5rem;
    border-color: transparent;
    width: calc(100% / 2 - 2rem);
}

button:hover{
    background: linear-gradient(-45deg, rgba(62,14,131,1) 0%, rgba(9,9,121,1) 8%, rgba(0,212,255,1) 100%);
}

/*  
.dos_columnas {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.entrada {
    flex: 0 0 calc(50%,1rem);
}
*/
@media (min-width: 768px){
    .dos_columnas {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        column-gap: 2rem;
    }
}



